.about-wrapper {
  background: #efc94c;
  color: #334c5b;

  .head {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .howitworks {
    background: url('../images/about.png') no-repeat center center / contain;
    width: 1140px;
    height: 550px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    z-index: 0;
  }

  .plus {
    position: relative;

    &.plus-active {

      .plus-icon svg .plus-inner {
        display: none;
      }

      .plus-content {
        display: block;
      }
    }

    &-icon {
      width: 18px;
      height: 18px;

      svg {
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }

    &-content {
      display: none;
      position: absolute;
      top: 24px;
      left: initial;
      background: #191b31;
      color: #fff;
      font-size: 14px;
      line-height: 22px;
      max-width: 370px;
      padding: 20px 20px;
      z-index: 55;
    }

    &-title {
      font-weight: bold;
    }

    &-text {
      margin-top: 3px;
    }
  }

  .plus-1 {
    top: 40%;
    left: 52%;

    .plus-icon .plus-inner,
    .plus-icon .minus-inner,
    .plus-icon .plus-border {
      stroke: #fff;
    }


    &.plus-active .plus-inner {
      display: none;
    }
  }

  .plus-2 {
    top: 19%;
    left: 57%;
  }

  .plus-3 {
    top: 31%;
    left: 69%;
  }

  .nav-active {
    border-color: #334c5b;
  }

  .lets-talk {
    background: #334c5b;
    color: #fff;
    padding: 100px 0 120px;

    .title {
      font-size: 48px;
      line-height: 56px;
    }

    .text {
      font-size: 20px;
      line-height: 30px;
      margin-top: 25px;
      width: 50%;
      text-align: center;
    }

    .button {
      background: #45b29d;
      font-weight: bold;
      line-height: 60px;
      padding: 0 65px;
      border-radius: 100px;
      margin-top: 40px;
      color: #fff;
      cursor: pointer;
    }
  }


  .points {
    width: 100%;
    padding-bottom: 150px;

    .title {
      font-size: 48px;
      line-height: 58px;
    }

    &-list {
      width: 80%;
      margin-top: 100px;
    }

    .point {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-picture {
        flex: 0 0 50%;
        background: #df5a49;
        position: relative;
        height: 35vw;
      }

      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-info {
        flex: 0 0 50%;
        padding: 0 7%;
        height: 35vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      &-title {
        margin-top: 35px;
        font-size: 32px;
        font-weight: bold;
      }

      &-description {
        margin-top: 15px;
        font-size: 18px;
        line-height: 30px;
      }

      &-number {
        display: inline-block;
        border: 1px rgb(199, 166, 69) solid;
        padding: 32px 40px 10px 18px;
        font-size: 42px;
        font-weight: bold;
        line-height: 42px;
      }

      &-numberInner {
        position: relative;
      }

      &-numberInner:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: -11px;
        left: 0;
        border-bottom: 1px #334c5b solid;
      }
    }
  }

  .point-1 .bg {
    background: url('../images/picture-1.png') no-repeat left bottom / 80%;
  }

  .point-2 .bg {
    background: url('../images/picture-2.png') no-repeat right bottom / 70%;
  }

  .point-3 .bg {
    background: url('../images/picture-3.png') no-repeat left bottom / 70%;
  }

  .point-4 .bg {
    background: url('../images/picture-4.png') no-repeat right bottom / 72%;
  }

  .point-5 .bg {
    background: url('../images/picture-5.png') no-repeat left bottom / 80%;
  }

}



@media (max-width: 960px) {
  .about-wrapper {

    .plus-1 {
      top: 52%;
      left: 42%;
    }

    .plus-2 {
      top: 19%;
      left: 47%;
    }

    .plus-3 {
      top: 31%;
      left: 36%;
    }

    .points .point {
      &-number {
        font-size: 30px;
        padding: 28px 28px 8px 16px;
        line-height: 30px;
      }

      &-numberInner:after {
        bottom: -9px;
      }

      &-title {
        font-size: 22px;
        margin-top: 25px;
      }

      &-description {
        margin-top: 10px;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-wrapper {

    .plus-2 {
      left: 45%;
    }

    .plus-content {
      max-width: 270px;
    }

    .points-list {
      width: 100%;
    }

    .lets-talk .text {
      width: 80%;
    }

    .points .point {

      &-picture {
        height: 45vw;
      }

      &-number {
        padding: 22px 30px 8px 16px;
      }

      &-title {
        font-size: 20px;
      }

      &-description {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  .about-wrapper {

    .points .point {

      &-info {
        padding: 0 5%;
      }

      &-number {
        display: none;
      }
    }
  }
}

@media (max-width: 445px) {
  .about-wrapper {

    .plus-1 {
      left: 50%;

      .plus-content {
        left: -134px
      }
    }

    .plus.plus-2 .plus-content {
      left: -78px;
    }

    .plus-3 {
      left: 40.5%;

      .plus-content {
        left: -22px;
      }
    }

    .howitworks {
      background-size: 60%;
    }

    .lets-talk {
      padding: 100px 0 100px;
    }

    .lets-talk .text {
      width: 100%;
      font-size: 15px;
    }

    .points .title {
      font-size: 34px;
      text-align: center;
    }

    .points-list {
      margin-top: 0;
    }

    .points .point-2,
    .points .point-4 {
      .point-infoWrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        text-align: right;
      }
    }

    .points .point {
      display: block;
      margin-top: 50px;

      &-number {
        display: block;
      }

      &-picture {
        display: none;
      }

      &-info {
        padding: 0;
        width: 100%;
        height: 100%;
      }

      &-description {
        max-width: 90%;
      }

      &-infoWrapper {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}
