.gallery-wrapper {
  color: #334c5b;
  background: #45b29d;

  .nav-active {
    border-color: #334c5b;
  }

  .filters {
    padding: 120px 0 0;
    font-size: 16px;
  }

  .filters .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .filter-characters,
  .filter-stages,
  .filter-action {
    cursor: pointer;
    position: relative;
    margin: 0 17px;
  }

  .filter-characters {
    margin-left: 0;
  }

  .gallery {
    padding: 20px 0 20px;

    &-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      width: 100%;
    }

    &-item {
      margin-top: 2vw;
      background-color: #328676;
      background-image: url('../images/gallery-icon.png');
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      flex: 0 0 32%;
      cursor: pointer;
    }
  }

  .pagination {
    padding: 20px 0 120px;

    .container {
      align-items: flex-start;
    }

    &-list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      margin: 0 14px;
      cursor: pointer;

      &:first-child { margin-left: 0; }
    }

    &-item.pagination-active,
    &-dots {
      font-weight: bold;
      cursor: pointer;
    }

  }

}


@media (max-width: 768px) {
  .gallery-wrapper {
    .gallery-item {
      flex: 0 0 49%;
    }

    .pagination {

      .container {
        align-items: center;
      }

      &-item {
        margin: 0 12px;
      }
    }
  }
}

@media (max-width: 425px) {
  .gallery-wrapper {
    .filters {
      font-size: 14px;
    }

    .filter-characters,
    .filter-stages,
    .filter-action {
      margin: 0 12px;
    }

    .filter-characters {
      margin-left: 0;
    }

    .gallery-item {
      flex: 0 0 100%;
      margin-top: 10vw;
    }
  }
}
