.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100vh;

  background: #000;

  z-index: 9999;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .skeleton {
    background: url('../images/skeleton.png') no-repeat center center / contain;
    width: 81px;
    height: 110px;
  }

  .progress-bar {
    width: 50%;
    margin-top: 50px;
    position: relative;
    max-width: 580px;
  }

  .progress-lineWrapper {
    overflow: hidden;
    width: 100%;
  }

  .progress-line {
    background: #fff;
    height: 2px;
    width: 100%;
    transform: translateX(-100%);

    transition: transform 0.5s ease;
    will-change: transform;
  }

  .percents {
    position: absolute;
    left: -6%;
    width: 100%;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    transition: transform 0.5s ease;
    will-change: transform;

    @media (max-width: 768px) {
      left: -10%;
    }

    @media (max-width: 425px) {
      left: -15%;
    }
  }
}
