.main-page .section {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .title {
    font-size: 26px;
    font-weight: bold;
    line-height: 58px;
    position: absolute;
    top: -5%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-container {
    margin: 0 auto;
    position: relative;
    max-width: 960px;
    width: 100%;
    height: 100%;
  }

  .pose {
    position: absolute;
  }

  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-size: 75% !important;
  }

  &.pose-1 {
    background: #e27a3f;

    .bg {
      background: url('../images/bg-1.png') no-repeat center center;

    }

    .pose {
      background: url('../images/pose-1.png') 50% 50% no-repeat fixed;
      width: 100%;
      height: 100%;
      z-index: 25;
    }

    .title {
      color: #956448;
    }
  }

  &.pose-2 {
    background: #efc94c;

    .bg {
      background: url('../images/bg-2.png') no-repeat center center;
    }

    .pose {
      background: url('../images/pose-2.png') 50% 50% no-repeat fixed;
      width: 100%;
      height: 100%;
      z-index: 25;
    }

    .title {
      color: #aa9651;
    }
  }

  &.pose-3 {
    background: #45b29d;

    .bg {
      background: url('../images/bg-3.png') no-repeat center center;
    }

    .pose {
      background: url('../images/pose-3.png') 50% 50% no-repeat fixed;
      width: 100%;
      height: 100%;
      z-index: 25;
    }

    .title {
      color: #307c6e;
    }
  }

  &.pose-4 {
    background: #334c5b;

    .bg {
      background: url('../images/bg-4.png') no-repeat center center;
    }

    .pose {
      background: url('../images/pose-4.png') 50% 50% no-repeat fixed;
      width: 100%;
      height: 100%;
      z-index: 25;
    }

    .title {
      color: #1e333f;
    }
  }

}


@media (max-width: 768px) {
  .main-page .section {
    .bg {
      display: none;
    }

    &.pose-1 .pose {
      background: url('../images/bg-1-mobile.png') no-repeat center center;
      background-size: 150%;
    }

    &.pose-2 .pose {
      background: url('../images/bg-2-mobile.png') no-repeat center center;
      background-size: 130%;
    }

    &.pose-3 .pose {
      background: url('../images/bg-3-mobile.png') no-repeat center center;
      background-size: 155%;
    }

    &.pose-4 .pose {
      background: url('../images/bg-4-mobile.png') no-repeat center center;
      background-size: 120%;
    }
  }
}
