doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — About
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');
    require('scripts/about');

body.about-wrapper
  .head
    .container
      include components/header

      .howitworks
        .plus.plus-1.plus-active
          .plus-icon
            html.
              <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                      <rect id="path-1" x="0" y="0" width="22" height="22" rx="4"></rect>
                      <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="22" height="22" fill="white">
                          <use xlink:href="#path-1"></use>
                      </mask>
                      <rect id="path-3" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-3"></use>
                      </mask>
                      <rect id="path-5" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-5"></use>
                      </mask>
                  </defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Group-3-Copy">
                          <use stroke="#000000" class="plus-border" id="Rectangle" mask="url(#mask-2)" stroke-width="4" xlink:href="#path-1"></use>
                          <use stroke="#000000" class="minus-inner" id="Rectangle-2" mask="url(#mask-4)" stroke-width="2" xlink:href="#path-3"></use>
                          <use stroke="#000000" class="plus-inner" id="Rectangle-2-Copy" mask="url(#mask-6)" stroke-width="2" transform="translate(11.000000, 11.000000) rotate(-270.000000) translate(-11.000000, -11.000000) " xlink:href="#path-5"></use>
                      </g>
                  </g>
              </svg>
          .plus-content
            .plus-title
              | Engaging Brand Experience
            .plus-text
              | MIMIC is so much more than the same old photo booth. It allows consumers to directly interact with your brand and create their very own one-of-a-kind branded video.

        .plus.plus-2
          .plus-icon
            html.
              <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                      <rect id="path-1" x="0" y="0" width="22" height="22" rx="4"></rect>
                      <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="22" height="22" fill="white">
                          <use xlink:href="#path-1"></use>
                      </mask>
                      <rect id="path-3" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-3"></use>
                      </mask>
                      <rect id="path-5" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-5"></use>
                      </mask>
                  </defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Group-3-Copy">
                          <use stroke="#000000" class="plus-border" id="Rectangle" mask="url(#mask-2)" stroke-width="4" xlink:href="#path-1"></use>
                          <use stroke="#000000" class="minus-inner" id="Rectangle-2" mask="url(#mask-4)" stroke-width="2" xlink:href="#path-3"></use>
                          <use stroke="#000000" class="plus-inner" id="Rectangle-2-Copy" mask="url(#mask-6)" stroke-width="2" transform="translate(11.000000, 11.000000) rotate(-270.000000) translate(-11.000000, -11.000000) " xlink:href="#path-5"></use>
                      </g>
                  </g>
              </svg>
          .plus-content
            .plus-title
              | Stand Branding & Design
            .plus-text
              | Choose between the MIMIC Booth that can be branded to fit into your campaign theme or MIMIC CORE, our software that can take any form you wish.

        .plus.plus-3
          .plus-icon
            html.
              <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                      <rect id="path-1" x="0" y="0" width="22" height="22" rx="4"></rect>
                      <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="22" height="22" fill="white">
                          <use xlink:href="#path-1"></use>
                      </mask>
                      <rect id="path-3" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-3"></use>
                      </mask>
                      <rect id="path-5" x="4" y="10" width="14" height="2"></rect>
                      <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="14" height="2" fill="white">
                          <use xlink:href="#path-5"></use>
                      </mask>
                  </defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Group-3-Copy">
                          <use stroke="#000000" class="plus-border" id="Rectangle" mask="url(#mask-2)" stroke-width="4" xlink:href="#path-1"></use>
                          <use stroke="#000000" class="minus-inner" id="Rectangle-2" mask="url(#mask-4)" stroke-width="2" xlink:href="#path-3"></use>
                          <use stroke="#000000" class="plus-inner" id="Rectangle-2-Copy" mask="url(#mask-6)" stroke-width="2" transform="translate(11.000000, 11.000000) rotate(-270.000000) translate(-11.000000, -11.000000) " xlink:href="#path-5"></use>
                      </g>
                  </g>
              </svg>
          .plus-content
            .plus-title
              | Engaging Brand Experience
            .plus-text
              | MIMIC is so much more than the same old photo booth. It allows consumers to directly interact with your brand and create their very own one-of-a-kind branded video.

  .points
    .container
      .title
        | How it works

      .points-list
        .point.point-1
          .point-picture
            .bg
          .point-info
            .point-infoWrapper
              .point-number
                .point-numberInner
                  | 1
              .point-title
                | Attract
              .point-description
                | Consumers will be attracted to the big animated screen at your stand.

        .point.point-2
          .point-info
            .point-infoWrapper
              .point-number
                .point-numberInner
                  | 2
              .point-title
                | Interact
              .point-description
                | They’ll enter their info & start creating their own MIMIC video.
          .point-picture
            .bg

        .point.point-3
          .point-picture
            .bg
          .point-info
            .point-infoWrapper
              .point-number
                .point-numberInner
                  | 3
              .point-title
                | Enjoy
              .point-description
                | A customised character will seamlessly follow their every move in a 3D scene.

        .point.point-4
          .point-info
            .point-infoWrapper
              .point-number
                .point-numberInner
                  | 4
              .point-title
                | Share
              .point-description
                | The completed 30-sec video will be emailed to the user instantly.
          .point-picture
            .bg

        .point.point-5
          .point-picture
            .bg
          .point-info
            .point-infoWrapper
              .point-number
                .point-numberInner
                  | 5
              .point-title
                | Learn
              .point-description
                | Receive a valuable database with every consumer’s info.


  .lets-talk
    .container
      .title
        | Let's talk
      .text
        | Get in touch for a detailed quote or share your questions and we will gte back to you at the soonest
      a.button(href="/contact.html")
        | Get in touch

  include components/footer
