doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — Contact
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');
    
    var startedValue;
    (function progressBar() {
      startedValue = 0;
      var randomNumber;
      setInterval(function() {
        if (startedValue < 90) {
          randomNumber = ~~(Math.random()*10+5);
          startedValue += randomNumber;
          $('.percents').empty().append(startedValue);
          $('.percents').css('transform', 'translateX(' + startedValue + '%)')
          $('.progress-line').css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        }
      }, 300)
    })()

    $(window).load(function() {
      startedValue = 100;
      $('.percents').css('transform', 'translateX(' + startedValue+ '%)')
      $('.percents').empty().append(startedValue);
      $('.progress-line')
        .css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        .queue(function() {
          $('.preloader').delay(300).fadeOut(400);
        });
    });

body.contact-wrapper
  include components/preloader
  .head
    .container
      include components/header

  .contact
    .container
      .contact-item
        .title
          | Lets talk
        .text
          | Ready to bring your brand to life?

        .text
          | Get in touch for a detailed quote or share your questions in the contact form to the right

        .subtitle
          | MIMIC

        .text
          | +971 50 254 7104
          br
          | info@mimicfun.com
          br
          | DMC BLDG. 8,
          br
          | Dubai, UAE

      .contact-item
        form.form
          input.input(type="text" placeholder="Subject (Optional but helpful)")
          input.input(type="text" placeholder="Email address")
          textarea.textarea(placeholder="Message")
          button.submit(type="submit")
            | Send

  include components/footer
