doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — Contact
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');
    require('scripts/contact');
    
    function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru,
        disableDefaultUI: true,
        scrollwheel: false,
        styles: styles
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        icon: '../images/marker.png',
      });
    }

body.contact-wrapper
  .head
    .map#map
    .container
      include components/header

  .contact
    .container
      .contact-item
        .title
          | Lets talk
        .text
          | Ready to bring your brand to life?

        .text
          | Get in touch for a detailed quote or share your questions in the contact form to the right

        .subtitle
          | MIMIC

        .text
          | +971 50 254 7104
          br
          | info@mimicfun.com
          br
          | DMC BLDG. 8,
          br
          | Dubai, UAE

      .contact-item
        form.form
          input.input(type="text" name="subject" placeholder="Subject (Optional but helpful)")
          input.input.input-email(type="text" name="email" placeholder="Email address")
          textarea.textarea(placeholder="Message" name="message")
          button.submit(type="submit")
            | Send

  include components/footer

  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2yfErkFLqhXbpWiasPxEFK1DResLVzDI&callback=initMap")
