doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — Gallery
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');

    var startedValue;
    (function progressBar() {
      startedValue = 0;
      var randomNumber;
      setInterval(function() {
        if (startedValue < 90) {
          randomNumber = ~~(Math.random()*10+5);
          startedValue += randomNumber;
          $('.percents').empty().append(startedValue);
          $('.percents').css('transform', 'translateX(' + startedValue + '%)')
          $('.progress-line').css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        }
      }, 300)
    })()

    $(window).load(function() {
      startedValue = 100;
      $('.percents').css('transform', 'translateX(' + startedValue+ '%)')
      $('.percents').empty().append(startedValue);
      $('.progress-line')
        .css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        .queue(function() {
          $('.preloader').delay(300).fadeOut(400);
        });
    });

body.gallery-wrapper
  include components/preloader
  .head
    .container
      include components/header

  .filters
    .container
      .filter-characters
        | Characters

      .slash
        | /

      .filter-stages
        | Stages

      .slash
        | /

      .filter-action
        | In Action

  .gallery
    .container
      .gallery-list
        a(href="./images/gallery/photo-1.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-2.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-3.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-4.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-5.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-6.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-7.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-8.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-9.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-10.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-11.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-12.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-13.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-14.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-15.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-16.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2
        a(href="./images/gallery/photo-17.jpg" class="gallery-item" data-lightbox="roadtrip")
          | Image #2

  .pagination
    .container
      .pagination-list
        .pagination-item.pagination-active
          | 1
        .pagination-item
          | 2
        .pagination-item
          | 3
        .pagination-item
          | 4
        .pagination-item
          | 5
        .pagination-item
          | 6
        .pagination-item
          | 7
        .pagination-dots
          | ...


  include components/footer
