doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');

body.gallery-wrapper
  .head
    .container
      include components/header

  .filters
    .container
      .filter-characters
        | Characters

      .slash
        | /

      .filter-stages
        | Stages

      .slash
        | /

      .filter-action
        | In Action

  .gallery
    .container
      .gallery-list
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item
        .gallery-item

  .pagination
    .container
      .pagination-list
        .pagination-item.pagination-active
          | 1
        .pagination-item
          | 2
        .pagination-item
          | 3
        .pagination-item
          | 4
        .pagination-item
          | 5
        .pagination-item
          | 6
        .pagination-item
          | 7
        .pagination-dots
          | ...


  include components/footer
