doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — Homepage
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/waypoints');
    require('scripts/initialize');
    require('scripts/main-page');


    var startedValue;
    (function progressBar() {
      $(window).scrollTop();
      startedValue = 0;
      var randomNumber;
      setInterval(function() {
        if (startedValue < 80) {
          randomNumber = ~~(Math.random()*10+5);
          startedValue += randomNumber;
          $('.percents').empty().append(startedValue);
          $('.percents').css('transform', 'translateX(' + startedValue + '%)')
          $('.progress-line').css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        }
      }, 300)
    })()

    $(document).ready(() => { $(window).scrollTop(0); })

    $(window).load(function() {
      startedValue = 100;
      $('.percents').css('transform', 'translateX(' + startedValue+ '%)')
      $('.percents').empty().append(startedValue);
      $('.progress-line')
        .css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        .queue(function() {
          $('.preloader').delay(300).fadeOut(400).queue(() => {
            $('body').removeClass('body-fixed');
          });
        });
    });

body.main-page.body-fixed
  include components/preloader

  .dots
    .dots-item
    .dots-item
    .dots-item
    .dots-item
    .dots-item

  .head(data-vide-bg="mp4: video/video-bg.mov, webm: video/video-bg.webm, poster: images/fallback.jpg" data-vide-options="autoplay: true")
    .container
      include components/header
      .empty
      .overlay
      .title
        | Bring your brand to life with every move
        .play.play-active

      .mouse
        .mouse-dot
      #player

  .section.pose-1
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .title
        | I AM A CARTOON BOY
      .pose

  .section.pose-2
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .title
        | I AM A MINI ROBOT
      .pose

  .section.pose-3#waypoint
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .title
        | I AM A SKELETON
      .pose

  .section.pose-4
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .title
        | I AM A TRANSFORMER
      .pose

  include components/footer
