doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');

    var startedValue;
    (function progressBar() {
      startedValue = 0;
      var randomNumber;
      setInterval(function() {
        if (startedValue < 90) {
          randomNumber = ~~(Math.random()*10+5);
          startedValue += randomNumber;
          $('.percents').empty().append(startedValue);
          $('.percents').css('transform', 'translateX(' + startedValue + '%)')
          $('.progress-line').css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        }
      }, 300)
    })()

    $(window).load(function() {
      startedValue = 100;
      $('.percents').css('transform', 'translateX(' + startedValue+ '%)')
      $('.percents').empty().append(startedValue);
      $('.progress-line')
        .css('transform', 'translateX(' + (-100 + startedValue) + '%)')
        .queue(function() {
          $('.preloader').delay(300).fadeOut(400);
        });
    });



body.main-page
  include components/preloader
  .head(data-vide-bg="mp4: http://vjs.zencdn.net/v/oceans.mp4, poster: images/video.png" data-vide-options="autoplay: true")
    .container
      include components/header
      .empty
      .overlay
      .title
        | Bring your brand to life with every move
        .play.play-active

      .mouse
      #player

  .section.pose-1
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .pose

  .section.pose-2
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .pose

  .section.pose-3
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .pose

  .section.pose-4
    .bg(data-stellar-background-ratio="0.5")
    .section-container
      .pose

  include components/footer
