.footer
  .container
    .footer-content
      .footer-item.footer-logo
        img(src="./images/logo.png")

      .footer-item.footer-about
        .title About
        .subtitle Imagine your favourite character mimicking your every move to create a customised video featuring you, the 3D character and brand, all in one! That’s what MIMIC does.

      .footer-item.footer-gallery
        .title
          | Gallery

        .footer-gallery-list
          .footer-gallery-item
          .footer-gallery-item
          .footer-gallery-item
          .footer-gallery-item
          .footer-gallery-item
          .footer-gallery-dots
            .dot
            .dot
            .dot

      .footer-item.footer-info
        .title
          | CONTACT US

        .socials
          .socials-item.phone
            .icon
            | +971 XX XXXXXX

          .socials-item.mail
            .icon
            | sales@mimic.com

          .socials-item.location
            .icon
            | JLT, Dubai, UAE, Office 1234

    .footer-copy
      | MIMIC © 2016. All rights reserved
