.nav
  a.logo(href="/")
    | MIMIC
  .nav-list
    a.nav-item.nav-about(href="/about.html")
      | HOW IT WORKS
    a.nav-item.nav-gallery(href="/gallery.html")
      | GALLERY
    a.nav-item.nav-contact(href="/contact.html")
      | CONTACT
